NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_SOLANA_RPC=https://api.mainnet-beta.solana.com
NEXT_PUBLIC_PRESALE_STAGE=1
NEXT_PUBLIC_PRESALE_PRICE=0.001
NEXT_PUBLIC_MIN_PURCHASE=100
NEXT_PUBLIC_OFFICIAL_X=https://x.com/AIOracle_link
NEXT_PUBLIC_OFFICIAL_TG=https://t.me/AIOracle_Official
